DATABASE_URL="file:./dev.db"
SESSION_SECRET="change-this-to-a-secure-random-secret-key-at-least-32-chars"
ADMIN_EMAIL="admin@tautsmart.com"
ADMIN_PASSWORD="change_this_password"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
